body{

  padding-bottom: 20px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

}
.recipe-photo{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recipe-instructions h6,
.recipe-details h6 {
  border-bottom:2px solid #dbe4ed;
}
#mealInstructions{
  overflow-y: auto;
  max-height: 400px;
  line-height: 2;
  font-size: 15px;
}
#mealIngredients{
  column-count: 3;
  font-size: 14px;
}
.measure{
  font-weight: 500;
}
#youTube{
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  width: 130px;
  cursor: pointer;
  background-image: url('../images/youTube.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#youTube:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.btn-new{
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  color: #333333;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.btn-new:hover{
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.nav-link {
  color: #f73939;
}
.modal-footer{
  justify-content: space-between !important;
}
.nav-pills .nav-link.active{
  background-color: #f73939 !important;
}
.nav-pills {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;

}

/*Media query for devices smaller than tablets 76px and down)*/
@media (min-width: 768px) {  
  /*Grey border dividing the modal to recipe details and photo of the recipe*/
  .recipe-details{
    border-right: 2px solid #dbe4ed;
  }
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    background-image: url("../images/drink-ge0da837e9_1920.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .display-4   {
    font-size: 6vw !important;
    font-weight: 500 !important;
    color: white;
  }

  .lead{
    font-size: 3vw !important;
    font-weight: 250 !important;
    color: white;
  }
  .result {
    height: auto;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    overflow-y: scroll;
}
#mealInstructions::-webkit-scrollbar-track ,
.result::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
#mealInstructions::-webkit-scrollbar,
.result::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  background-color: transparent;
}
#mealInstructions::-webkit-scrollbar-thumb,
.result::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8f8e8e5b;
}
.tab-pane {
    width: calc(100vw - 80px);
    margin-left: 30px;
}

.nav-pills > .nav-item > .nav-link.active, .nav-pills {
  background-color: black;
}

.nav-link:not(.active) {
  background-color: lightblue !important;
  color: black;
  border: none;
}

.light-blue {
  background-color: lightblue;
}

.tab-content {
  margin-top: -17px;
  padding-top: 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), white 95%);
}

.card-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.card-one img {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.card{
  
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  
}
#card{
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hide{
display: none;
}

.cocktail-details {
  border: 2px solid lightblue;
  height: 61.304vw;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 7%;
}

.cocktail-image {
  background-size: 100%;
  height: 61.304vw;
  width: 100%;
  margin-bottom: 20px;
}

.cocktail-details span {
  margin-top: 20px;
}

.category-div {
  display: flex;
  flex-direction: column;
}

.category-span, .instructions-span {
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: underline;
}

.instructions-span {
  margin-top: -10px;
}

.ingredients-span {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: -5px;
} 

.cocktail-category {
  margin-bottom: -10px;
}

.each-ingredient {
  margin-bottom: -10px;
}

.cocktail-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

#cocktail-row {
  margin-top: 20px;
}

.cocktail-header-container {
  border: 2px solid black;
  background-color: lightblue;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;

.category-div span, .ingredients-div span {
  margin-bottom: 10px;
}

.cocktail-header {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}