body{
  overflow: hidden;  
}
.recipe-photo{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recipe-instructions h6,
.recipe-details h6 {
  border-bottom:2px solid #dbe4ed;
}

/*Media query for devices smaller than tablets 76px and down)*/
@media (min-width: 768px) {  
  /*Grey border dividing the modal to recipe details and photo of the recipe*/
  .recipe-details{
    border-right: 2px solid #dbe4ed;
  }
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    background-image: url("../images/drink-ge0da837e9_1920.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .display-4   {
    font-size: 6vw !important;
    font-weight: 500 !important;
    color: white;
  }

  .lead{
    font-size: 3vw !important;
    font-weight: 250 !important;
    color: white;
  }
  .result {
    border: 1px solid lightgray;
    height: auto;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    overflow-y: scroll;
    height: calc(100vh - 260px);
}
.result::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
.result::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  background-color: transparent;
}
.result::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8f8e8e5b;
}
.tab-pane {
    width: calc(100vw - 80px);
    margin-left: 30px;
}

.nav-pills > .nav-item > .nav-link.active, .nav-pills {
  background-color: black;
}

.nav-link:not(.active) {
  background-color: lightblue !important;
  color: black;
  border: none;
}

.light-blue {
  background-color: lightblue;
}

.tab-content {
  margin-top: -17px;
  padding-top: 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), white 95%);
}

.card-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.card-one img {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.card{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hide{
display: none;
}

.cocktail-details {
  border: 2px solid lightblue;
  height: auto;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 7%;
}

.cocktail-details span {
  margin-top: 20px;
}

.category-div {
  display: flex;
  flex-direction: column;
}

.category-div span, .ingredients-div span {
  margin-bottom: 10px;
}

.cocktail-header {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}